<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <label for="usuario">Usuario</label>
                            <input type="text" id="usuario" class="form-control" placeholder="Nombre de usuario"
                                required autofocus>
                        </div>
                        <label for="contrasena">Contraseña</label>
                        <div class="form-label-group">
                            <input type="password" id="contrasena" class="form-control" placeholder="Contraseña"
                                required>
                        </div>
                        <button class="mt-3 btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar Sesión</button>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>